html body {
    width: 700px;
    margin: auto;
    padding: 5px;
    background:white;
    color:#212427;
    text-align: left;
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 16px;
}
