html body {
    font-family: "Segoe UI", sans-serif;
    background: white;
    color: #212427;
}

#hnmain {
    max-width: 40rem;
    margin: auto;
}

html .title {
    font-size: 14px;
}

html .subtext {
    padding-bottom: 15px;
}