html body {
    font-family: "Segoe UI", sans-serif;
    background: white;
    color: #212427;
}

#hnmain {
    max-width: 40rem;
    margin: auto;
}

html .title {
    font-size: 20px;
}

html .subtext {
    padding-bottom: 15px;
}

html .comment {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    line-height: 1.5;
}